@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans Light'), local('WorkSans-Light'),
        url('../Fonts/WorkSans-Light.woff2') format('woff2'),
        url('../Fonts/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans Thin'), local('WorkSans-Thin'),
        url('../Fonts/WorkSans-Thin.woff2') format('woff2'),
        url('../Fonts/WorkSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
}

a {
    font-weight: 300;
    color: rgba(0, 173, 238, 1);
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
@media (min-width: 768px) {
    main {
        grid-template-rows: none;
        grid-template-columns: 1fr 2fr;
    }
}
code {
    display: block;
    padding: 1rem;
    background-color: #00adee33;

    margin: 1rem 0;
    line-height: 150%;
}
@media (min-width: 768px) {
    code {
        width: max-content;
    }
}

section#version {
    background-color: rgba(0, 173, 238, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
section#version h1 {
    color: #fff;
    font-weight: 100;
    font-size: 4rem;
}
section#version h1 span {
    font-weight: 300;
    display: block;
}

section#welcome {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

section#welcome h2 {
    font-size: 3rem;
    font-weight: 100;
    border-bottom: 1px solid #00adee;
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
section#welcome h2:first-child {
    margin-top: 0;
}
section#welcome p {
    margin-top:0;
    color: #656a71;
    font-size: 1rem;
}

section#welcome ul li {
    margin-bottom: 0.6rem;
}

.notice {
    background-color: white;
    color: #00adee;
    padding: 1rem;
    border-bottom: 2px solid #00adee;
}
.notice h2 {
    margin: 0;
    font-weight: 100;
}
.notice p {
    margin-bottom: 0;
    line-height: 150%;
}
