<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{f:uri.resource(path: 'Styles/Styles.css')}" rel="stylesheet" />
    <title>Welcome to Flow</title>
</head>
<body>

<f:if condition="{notDevelopmentContext}">
    <div class="notice">
        <h2>Switch to Development context</h2>
        <p>You should enable the Development context for your first steps into the world of Flow!<br />
            Check the <a href="http://flowframework.readthedocs.io/en/latest/TheDefinitiveGuide/">Flow reference</a> and/or
            the <a href="http://flowframework.readthedocs.io/en/latest/Quickstart/">Quickstart tutorial</a> for instructions.</p>
    </div>
</f:if>

<main>
    <section id="version">
        <h1>
            Welcome to <span>Neos Flow {version}</span>
        </h1>
    </section>
    <section id="welcome">
        <f:if condition="{notDevelopmentContext}">
            <div class="notice">
                <h2>Switch to Development context</h2>
                <p>You should enable the Development context for your first steps into the world of Flow!<br />
                    Check the <a href="http://flowframework.readthedocs.io/en/latest/TheDefinitiveGuide/" target="flow">Flow reference</a> and/or
                    the <a href="http://flowframework.readthedocs.io/en/latest/Quickstart/" target="flow">Quickstart tutorial</a> for instructions.</p>
            </div>
        </f:if>
        <h2>Getting started &#128075;</h2>
        <p>
            Open a terminal and type in
            <code>
                cd {flowPathRoot}<br />
                cd Configuration<br />
                cp Settings.yaml.example Settings.yaml
            </code>
            to activate the default configuration and routes.<br />
            Adjust the copied file to your needs afterwards.
        </p>
        <p>
            Now create your first package with
            <code>
                cd {flowPathRoot}<br />
                ./flow kickstart:package Happy.Coding
            </code>
            to create a package with a boilerplate controller.
        </p>
        <f:if condition="{isPackageAvailable}">
            <f:then>
                <p>Click on <f:link.action action="index" package="Happy.Coding">this link</f:link.action> to see your new package in action</p>
            </f:then>
            <f:else>
                <p>Once you've created the "Happy.Coding" package - <a href="javascript:window.location.reload()"> refresh this page</a> to find the next step</p>
            </f:else>
        </f:if>

        <h2>Keep Flowing</h2>
        <ul>
            <li>
                <a href="https://flowframework.readthedocs.io/en/stable/Quickstart/index.html" target="_blank">Docs: Flow Quickstart</a>
            </li>
            <li>
                <a href="https://flowframework.readthedocs.io/en/stable/TheDefinitiveGuide/#" target="_blank">Docs: The Definitive Guide</a>
            </li>
            <li>
                <a href="https://www.neos.io/contribute.html" target="flow">Contribute to Flow and Neos</a>
            </li>
            <li>
                <a href="https://discuss.neos.io/" target="_blank">Start a thread in our forum</a>
            </li>
            <li>
                <a href="http://slack.neos.io/" target="_blank">Join us on Slack</a>
            </li>
            <li>
                <a href="https://github.com/neos/flow-development-collection/issues/new" target="_blank">Report a bug</a>
            </li>
            <li>
                <a href="https://github.com/neos/flow-development-collection/" target="_blank">Github</a>
            </li>

        </ul>

        <h2>Remove the Welcome package (optional)</h2>
        <p>Remove the Welcome package via composer <code>composer remove neos/welcome</code> and then run
            <f:if condition="{isWindows}">
                <f:then>
                    <code>flow.bat flow:package:rescan</code>
                </f:then>
                <f:else>
                    <code>./flow flow:package:rescan</code>
                </f:else>
            </f:if>
        </p>
        <p>A small note at this point: When the Welcome Package is deleted, the Fluid template engine is also removed. If you want to continue using Fluid, you have to install it manually via composer:</p>
            <code>
                composer require neos/fluid-adaptor
            </code>
        </section>
</main>


</body>
</html>